<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
********************************* xDAI ************************************
    
*************** 👨‍🌾 UNOFFICIAL HONEYCOMB FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://1hive.io
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'xdai_honeycomb'}); -%>
</body>
</html> 
